<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>TPFinal - nuevoEmpleador</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	<body style="background-color: #232323;">
		<header th:replace="layouts/header::header"></header>
		
		<div class="container col-6">
			<h1 class="text-white text-center pt-3">Oferta</h1>
			
			<form th:action="@{/empleador/oferta}" method="post" th:object="${ofertaAlias}" class="text-white">
				<br>
				<div class="row">
					<div class="col">
					    <input type="number" class="form-control" placeholder="Vacantes" th:field="*{cantidadVacantes}">
					    <div class="text-danger" th:if="${#fields.hasErrors('cantidadVacantes')}" th:errors="*{cantidadVacantes}"></div>
					</div>
					<div class="col">
					    <input type="number" class="form-control" placeholder="Salario" th:field="*{salario}">
					    <div class="text-danger" th:if="${#fields.hasErrors('salario')}" th:errors="*{salario}"></div>
					</div>
				</div>
				<div class="row">
					<div class="col pt-2">
						 <label for="resumenPuesto" class="form-label">Resumen Puesto</label>
						 <textarea class="form-control" id="resumenPuesto" rows="3" th:field="*{resumenPuesto}"></textarea>
						 <div class="text-danger" th:if="${#fields.hasErrors('resumenPuesto')}" th:errors="*{resumenPuesto}"></div>
					</div>
					<div class="col pt-2">
						 <label for="principalesTareas" class="form-label">Principales Tareas</label>
						 <textarea class="form-control" id="principalesTareas" rows="3" th:field="*{principalesTareas}"></textarea>
						 <div class="text-danger" th:if="${#fields.hasErrors('principalesTareas')}" th:errors="*{principalesTareas}"></div>
					</div>
				</div>
				<div class="row">
					<div class="col pt-2">
						 <label for="datosContacto" class="form-label">Datos Contacto</label>
						 <textarea class="form-control" id="datosContacto" rows="3" th:field="*{datosContacto}"></textarea>
						 <div class="text-danger" th:if="${#fields.hasErrors('datosContacto')}" th:errors="*{datosContacto}"></div>
					</div>
					<div class="col pt-2">
						 <label for="disponibilidadHoraria" class="form-label">Disponibilidad Horaria</label>
						 <textarea class="form-control" id="disponibilidadHoraria" rows="3" th:field="*{disponibilidadHoraria}"></textarea>
						 <div class="text-danger" th:if="${#fields.hasErrors('disponibilidadHoraria')}" th:errors="*{disponibilidadHoraria}"></div>
					</div>
				</div>
				<div class="row">
					<div class="col pt-2">
						 <label for="jornada" class="form-label">Jornada</label>
						 <textarea class="form-control" id="jornada" rows="3" th:field="*{jornada}"></textarea>
						 <div class="text-danger" th:if="${#fields.hasErrors('jornada')}" th:errors="*{jornada}"></div>
					</div>
					<div class="col pt-2">
						 <label for="requisitos" class="form-label">Requisitos</label>
						 <textarea class="form-control" id="requisitos" rows="3" th:field="*{requisitos}"></textarea>
						 <div class="text-danger" th:if="${#fields.hasErrors('requisitos')}" th:errors="*{requisitos}"></div>
					</div>
				</div>
				<div class="col pt-2">
					<label for="Beneficios" class="form-label">Beneficios</label>
					<textarea class="form-control" id="Beneficios" rows="3" th:field="*{beneficios}"></textarea>
					<div class="text-danger" th:if="${#fields.hasErrors('beneficios')}" th:errors="*{beneficios}"></div>
				</div>
				<div class="pt-3">
				    <button type="submit" class="btn btn-outline-success">Crear Oferta</button>
				    <a th:href="@{/empleador/listaEmpleadores}" class="btn btn-outline-danger">Cancelar</a>
				</div>
				
			</form>
		</div>
		
		
		<footer th:replace="layouts/footer::footer"></footer>
	</body>
</html>